.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#21222A;
    padding: 30px 25px;
    height:90px;
}

.nav > h3 {
    margin-right:auto;
}

.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#61DAFB;
    font-weight: 700;
    font-size:22px;
}

.logo{
    width:40px;
    margin-right: 12px;
}

.web-title > h4{
    color:#DEEBF8;
    font-weight: 600;
}
