* {
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Inter', sans-serif;
    height:100vh;
    background-color: #282D35;
    background-image: url("./images/reactjs-icon 2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-size:260px;
}

